@font-face{
    font-family: Bitter;
    src: url(/bitter/Bitter\ Bold.ttf);
}
/*Préparaton du fond*/
body {
    background-color: #C8C8C8;
    font-family:Arial,Helvetica, sans-serif  ;
   
}
main {
    margin : auto;
    width: 65% ;
}
h1 {
    text-align:center;
    font-size: 5em;
    font-family: Bitter ;
}
article{
    margin-top: -40px;
}
a {
    color : #CF0025;
    font-weight: bold;
}
h2 {
    color : #CF0025;
    font-weight: bold;
    font-family: 'Bitter-Bold';
    font-size: 2em;
}

figure{
    background-color: #333333;
    width :100%;
    padding-top :35px;
    border: 3px solid #CF0D30;
    border-radius: 20px;
    margin :0px;
}
#logo{
    display: block;
    margin :auto;
    width : 95%
}
figcaption{
    color: white;
    margin-bottom :50px;
    margin-top :15px;
    text-align: center;

}

/*code brute*/
pre{
    border : 2px dashed #5144AE;
    width: 50%;
    background-color: #B7B7B7;
    color: #5144AE ;
    padding: 20px;
    display: block;
    margin: auto;
}
